# .github/workflows/test.yaml
name: test
on: [ push, pull_request ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        implementation:
          - sbcl
          # - ecl
          - ccl
        include:
          - implementation: sbcl
            image: clfoundation/sbcl:2.2.4
            command: sbcl
          # - implementation: ecl
          #   image: clfoundation/ecl:21.2.1
          #   command: ecl
          - implementation: ccl
            image: clfoundation/ccl:1.12
            command: ccl
    container:
      image: ${{ matrix.image }}
      env:
        CI_SYSTEM: github
        QUICKLISP_ADD_TO_INIT_FILE: true
        QUICKLISP_DIST_VERSION: latest
    env:
      WORKSPACE: /github/workspace/
      # the env vars for the PostgreSQL connection must be in sync
      # with the 'postgres' service below
      PGHOST: postgres
      PGDATABASE: migratum
      PGUSER: migratum
      PGPASSWORD: FvbRd5qdeWHNum9p
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub PostgreSQL image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_USER: migratum
          POSTGRES_PASSWORD: FvbRd5qdeWHNum9p
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run tests
        run: |
          env LISP=${{ matrix.command }} ./scripts/run-ci-tests.sh
